
#canvas1 {
    position: fixed;
}


#gameScreen {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  
  width: 400px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

#initialScreen {
  background-color: gray;
}

.btn {
  background-color: green;
  color: white;
}

